[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "vendor/vulkan-headers"]
	path = vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = sdk-1.3.211
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/luajit-cmake"]
	path = vendor/luajit-cmake
	url = https://github.com/zhaozg/luajit-cmake
[submodule "vendor/luajit"]
	path = vendor/luajit
	url = https://github.com/LuaJIT/LuaJIT
