[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "vendor/vulkan-headers"]
	path = vendor/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
	branch = sdk-1.3.211
